.cronometro_box, .in_box, .btn_box{
    font-family: "Raleway", sans-serif;
}

.btn_box{
    border: 1px solid #1dda41;
}

.cronometro_box{     
    width:200px;
    height:100px;
    border-top: 2px solid #1dda41;
    padding:1em;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    position: fixed;
    right:20px;
    bottom:20px;
    background-color:#2f323a;
}

.in_box{
    background:none;
    border:none;
    margin:0 auto;
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1dda41;
}

.btn_box{
    color:  #1dda41;
    background: none;
    font-size:11px;
    padding: .5em;
    position: relative;
    top:10px;
    margin:0 auto;
    transition: .2s all ease-in;
    border-radius:2px;
}

.btn_box:hover{
    opacity: .7;
    color: #ffffff;
    border-color: #ffffff;
    cursor:pointer;
}

.small_link{
    position:relative;
    top:20px;
    cursor: pointer;
    font-size:12px;
    color: #b8cfbc;
    border:1px solid #b8cfbc;
    padding: .5em;
    border-radius:2px;
    opacity: .5;
    transition: .2s all ease-in;
}

.small_link:hover{
    color:#1dda41;
    border:1px solid #1dda41;
    opacity: 1;
}