.link_direct{
    transition: .2s all;
    font-size:14px;
    color: #1dd1a4;
    padding-left: .3em;
}

.link_direct:hover{
    border-left: 2px solid #1c1c1c;
    color: #1c1c1c;
    padding-left: .5em;
}
